@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

html {
    width: 450px;
    min-height: 100px;
    background: linear-gradient(135deg, #6a0dad, #a020f0);
    color: white;
}

h2, p {
    text-align: center;
    font-family: "Kode Mono";
    transition: color 0.5s ease-out;
}

h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-size: 19px;
}

p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    margin-top: 0;
    margin-bottom: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.prompt {
    padding: 10px;
    font-size: 10px;
    padding-top: 0;
}

.tricks {
    padding: 7px;
    font-size: 11.5px;
    padding-top: 0;
}

.tricks p {
    margin-bottom: 10px;
}

#content {
    font-size: 15px;
    padding: 10px;
    padding-top: 0;
}


